.listCon {
  display: flex;
  flex-direction: column;
  gap: var(--fs12);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--fs12);
  overflow-y: auto;
}

.empty {
  padding: var(--fs64) 0;
  text-align: center;
}
