@charset "UTF-8";

@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'ChosunGu', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;

  --fs8: 8px;
  --fs12: 12px;
  --fs16: 16px;
  --fs20: 20px;
  --fs26: 24px;
  --fs33: 33px;
  --fs64: 64px;
}

html,
#root,
body {
  height: 100%;
}

body {
  background-color: #eaeaea;
}

main {
  height: 100%;
  width: calc(100% - 4rem);
  margin: auto;
  padding: var(--fs33) 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main > h1 {
  font-family: 'HakgyoansimDunggeunmisoTTF-B', sans-serif;
  text-align: center;
}

main > section {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr minmax(100px, 450px);
  gap: var(--fs33);
}

@media (max-width: 768px) {
  html {
    height: auto;
  }
  main > section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto minmax(100px, 450px);
  }
}
